<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="WebGuard Suite - Single Browser" verbose="1">
    
    <listeners>
        <listener class-name="com.webguard.listeners.TestListener"/>
    </listeners>

    <test name="WebGuard Functional Tests on Chrome">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.webguard.tests.RegisterTest"/>
            <class name="com.webguard.tests.LoginTest"/>
            <class name="com.webguard.tests.SearchTest"/>
            <class name="com.webguard.tests.ForgotPasswordTest"/>
        </classes>
    </test>
</suite>
